.heading{
    font-size: 23px;
    margin: 0;
    width: 100%;
}

.note{
    color: black;
    font-size: 15px;
}

body{
    background-size: cover;
}

canvas{
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
    
    margin-top: 100px;
}

#song_name{
    color:  white;
}